@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

/* Loding overlay and spinner -- Start*/

#overlay,
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#overlay {
  background: white;
  opacity: 0.5;
  z-index: 1;
}

#loading {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* Loding overlay and spinner -- End*/

/* Post Type Question -- Start */
.question-container {
  @extend .card;
}

.question {
  @extend .card-body;
}

.options {
  @extend .list-group;
  @extend .list-group-flush;
}

.option {
  @extend .list-group-item;
  @extend .list-group-item-action;
}

.solution {
  @extend .card-body;
}

.answer {
  @extend .font-weight-bold;
}

.explanation {
  @extend .card-text;
}

/* Post Type Question -- End */